{% extends "base.html" %}

{% block title %}登录{% endblock %}

{% block content %}
  <h1>登录</h1>
  <div class="module">
    {% if form.errors %}
      <p>你的账号和密码不匹配，请检查后再试</p>
    {% else %}
      <p>请填写下列表单登录:</p>
    {% endif %}
    <div class="login-form">
      <form action="{% url 'login' %}" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        <p><input type="submit" value="登录"></p>
      </form>
    </div>
  </div>
{% endblock %}